@import 'tailwindcss';

html {
	color-scheme: light dark;
}

body {
	color: var(--color-text);
	background-color: var(--color-text-inverse);
	font-family: 'Poppins', sans-serif;
}

button {
	cursor: pointer;
}

input {
	width: 100%;
}

@theme {
	--color-text: light-dark(#080613, #f7f7f7);
	--color-text-inverse: light-dark(#f7f7f7, #080613);
	--color-primary: light-dark(#663e00, #feab16);
}

.wrapper {
	width: min(85%, 1.2e3rem / 16);
	margin-inline: auto;
}
